<div class="my-3">
  <h4>Concat & Merge</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h5>Source - 01 | Tech</h5>
      <hr />
      <div class="channel-Ex bg-light">
        <strong>Tech Videos List : 1,2,3,4,5</strong>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Source - 02 | Comedy</h5>
      <hr />
      <div class="channel-Ex bg-light">
        <strong>Comedy Videos List : 1,2,3</strong>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Source - 03 | News</h5>
      <hr />
      <div class="channel-Ex bg-light">
        <strong>News Videos List : 1,2,3,4</strong>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 border pt-2">
      <strong>Concat Example</strong>
      <hr />
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 border pt-2">
      <strong>Merge Example</strong>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
