<div class="my-3">
  <h4>Take</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Example 01</strong>
      <br />
      <p class="border bg-light p-3 rounded">
        <strong>Take : </strong>First Four
      </p>
      <div id="elContainer1"></div>
    </div>
    <div class="col-md-4">
      <strong>Example 02</strong>
      <br />
      <p class="border bg-light p-3 rounded"><strong>TakeLast : </strong>Last Four</p>
      <div id="elContainer2"></div>
    </div>
    <div class="col-md-4">
      <strong>Example 03</strong> <br />
      <p class="border bg-light p-3 rounded">
        <strong>TakeUntil</strong>
      </p>
      <div id="elContainer3"></div>
    </div>
  </div>
</div>
