<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li *ngFor="let item of list">
        <a [routerLink]="item.route">{{ item.title }}</a>
      </li>
      <!-- <li><a routerLink="fromEvent">fromEvent</a></li>
      <li><a routerLink="interval">Interval</a></li>
      <li><a routerLink="of-from">Of And From</a></li>
      <li><a routerLink="to-array">ToArray</a></li>
      <li><a routerLink="custom">Custom Observable</a></li>
      <li><a routerLink="map">Map</a></li>
      <li><a routerLink="pluck">Pluck</a></li>
      <li><a routerLink="filter">Filter</a></li>
      <li><a routerLink="tap">Tap</a></li>
      <li><a routerLink="take">Take, TakeLast & TakeUntil</a></li>
      <li><a routerLink="retry">Retry, RetryWhen, Scan & Delay</a></li>
      <li><a routerLink="debounce">DebounceTime & DistinctUntilChanged</a></li>
      <li><a routerLink="subject">Subject & BehaviorSubject</a></li>
      <li><a routerLink="replay">Replay Subject</a></li>
      <li><a routerLink="asyncsubject">Async Subject</a></li>
      <li><a routerLink="concatmerge">Concat & Merge</a></li>
      <li><a routerLink="mergemap">Merge Map</a></li>
      <li><a routerLink="concatmap">Concat Map</a></li>
      <li><a routerLink="switchmap">Switch Map</a></li>
      <li><a routerLink="differencemap">Difference Map</a></li>
      <li><a routerLink="exhaustmap">Exhaust Map</a></li>
      <li><a routerLink="sharereplay">Share replay</a></li>
      <li><a routerLink="combinelatest">CombineLatest, WithLatestFrom, Zip & ForkJoin</a></li>
      <li><a routerLink="throwcatcherror">ThrowError & CatchError</a></li> -->
    </ul>
  </div>
</div>
