<div class="">
  <h4>Interval</h4>
  <p>Video {{ count }}</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Interval</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Timer</div>
        <div class="card-body">
          <ul id="elContainer1"></ul>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
