<div class="my-3">
  <h4>Tap</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Example 01</strong>
      <br />
      <p class="border bg-light p-3 rounded"><strong>Tap : </strong> Ex 01</p>
      <div id="elContainer1"></div>
    </div>
    <div class="col-md-4">
      <strong>Example 02</strong>
      <br />
      <p class="border bg-light p-3 rounded"><strong>Tap : </strong>Ex 02</p>
      <div id="elContainer2" [ngStyle]="{ color: customColor }"></div>
    </div>
  </div>
</div>
