<div class="my-3">
  <h4>Difference - Map</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong> Example - 01 ( MergeMap )</strong>
      <hr />
      <div class="border rounded p-3 bg-light mb-3">
        <strong>Video : </strong>['Tech', 'Comedy', 'News']
      </div>
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-4">
      <strong> Example - 02 ( ConcatMap )</strong>
      <hr />
      <div class="border rounded p-3 bg-light mb-3">
        <strong>Video : </strong>['Tech', 'Comedy', 'News']
      </div>
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Example - 03 ( SwitchMap )</strong>
      <hr />
      <div class="border rounded p-3 bg-light mb-3">
        <strong>Video : </strong>['Tech', 'Comedy', 'News']
      </div>
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
