<div class="my-3">
  <h4>Subject and Behaviour Subject</h4>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong
        >Result :
        <span *ngIf="Result != ''" class="badge bg-secondary">
          {{ Result }}
        </span></strong
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <app-subjectcomp1></app-subjectcomp1>
    </div>

    <div class="col-md-4">
      <app-subjectcomp2></app-subjectcomp2>
    </div>

    <div class="col-md-4">
      <app-subjectcomp3></app-subjectcomp3>
    </div>
  </div>
</div>
