<div class="my-3">
  <h4>Map</h4>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong>Example - 01</strong>
      <hr />
      <p class="border rounded p-3 bg-light">
        <strong>Data : </strong> Used Map operator On Array
      </p>
      <br />
      <p>
        Count : <strong class="text-success"> {{ msgText }} </strong>
      </p>
    </div>
    <div class="col-md-6">
      <strong>Example - 02</strong>
      <hr />
      <p class="border rounded p-3 bg-light">
        <strong>Data : </strong>Used Map operator On Object Array
      </p>
      <ul id="elContainer1"></ul>
    </div>
  </div>
</div>
